body {
    margin: 0;
  zoom: 90%;
}

#map {
    width: 100vw;
    height: 100vh;
}
a{
    margin-right: 20px;
}
#setup{
    padding:20px;
}
#googleBtn, #guestBtn{
border-radius: 15px;
padding: 20px;
}

html{
    background-color: #f1e9d2;
}

:root{
    --bg: #f4efe3;
    --panel: #fffaf0;
    --border: #4a3f35;

    --primary: #8b2f2f;
    --secondary: #2d4f6c;

    --text: #222;
    --success: #2e7d32;
}

body{
    background: var(--bg);
    color: var(--text);
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 20px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header{
    text-align: center;
    margin-bottom: 25px;
}

h1{
    font-size: 3rem;
    margin-bottom: 5px;
}

.tagline{
    font-size: 1.1rem;
    color: #555;
}

button{
    background: var(--primary);
    color: white;

    border: none;
    border-radius: 8px;

    padding: 12px 20px;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover{
    transform: translateY(-2px);
    opacity: 0.9;
}

.card{
    background: var(--panel);

    border: 2px solid var(--border);

    border-radius: 12px;

    padding: 20px;
    margin-bottom: 20px;
}
